footer {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    background-color: black;
    h4 {
        color: #ffc107;
    }
    ul {
        list-style: none;
                }
    
    li {
        display: inline;
        padding-left: 5%;
        padding-right: 5%;
    }

    a {
        text-decoration: none;
        color: #ffc107;
        }
}