footer {
    justify-content: center;
    font-weight: bold;
    background-color: black;
    h4 {
        color: #ffc107;
    }
    ul {
        
        list-style: none;
        display: inline;
            }
    
    a {
        text-align: center;
        text-decoration: none;
        color: #ffc107;
        }
}