form {
    width: 100%;
    margin: auto;
    background: rgba($color: #000000, $alpha: 0.4);
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

    h2 {
        color: #ffc104;
        font-size: 10px;
    }

    input, textarea, label, select {
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    textarea {
        min-height: 100px;
        max-height: 200px;
    }
}