$color-primario: rgb(241, 241, 241);

@mixin size($ancho) {
    width: $ancho ;
    }

$mainw: (
    index: 
    "navbar"
        "header"
        "aside"
        "main"
        "footer",
        nosotros: 
        "navbar"
        "header"
        "aside"
        "main"
        "footer",
        tips: 
        "navbar"
        "header"
        "aside"
        "main"
        "footer",
        donde-estamos: 
        "navbar"
        "header"
        "aside"
        "main"
        "footer",
        contacto: 
        "navbar"
        "header"
        "aside"
        "main"
        "footer",
    )    